/branding/target/
/dependecyWrapper/target/
/domain/target/
/api/target/
/service/target/
/orientDB/target/
/simulation/target/
/externalTraider/target/
/view/target/
/application/target/
/application/LIMO_DB/
/orientDB/LIMO_DB/
*.pdf
*~
/target/
/LIMO-utils/target/